.Projects_container {
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.Projects_container h2 {
  color: white;
  padding-left: 10%;
}

.Projects_link_container{
  padding-top: 3%;
  padding-bottom: 3%;
}

.Projects_link_container li a{
  text-decoration: none;
}

.Projects_link_container li a img{
  padding-left: 10%;
}

.Projects_link_container h4{
  padding-left: 12%;
  font-size: 30px;
  color: bisque;
}